:root {
  --primary-color: rgb(51, 16, 16);
  --secondary-color: #FFFBEA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* img {
  max-width: 100%;
}

body {
  padding-top: 80px;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80px;
  background: var(--primary-color);
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
}

.go-back-to-home {
  color: var(--secondary-color);
  height: 80%;
}

.logo {
  transition: 0.15s;
  cursor: pointer;
  height: 100%;
}
.logo:hover {
  transform: scale(1.1);
}
.logo:active {
  transform: scale(1);
}

.back {
  transition: 0.2s;
  color: #FFFBEA;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}

main {
  padding-bottom: 80px;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: var(--primary-color);
}

.container {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 90%;
  margin-top: 3em;
}

.step {
  border-radius: 10px;
  transition: 0.2s;
  border: 1px solid var(--secondary-color);
  padding: 1em 4em;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}
.step h2 {
  font-size: 2rem;
}
.step p {
  text-align: center;
}
.step:hover {
  background: var(--secondary-color);
  opacity: 0.7;
  color: var(--primary-color);
  transform: scale(1.07);
}

.buttons {
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons button {
  cursor: pointer;
  transition: 0.15s;
  padding: 0.5em 2em;
  border: none;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.buttons button:hover {
  transform: scale(1.05);
}
.buttons .yea {
  margin-right: 1em;
  margin-left: 1.4em;
  background: var(--secondary-color);
  border: 1px solid --primary-color;
  border-radius: 10px;
  color: --primary-color;
}
.buttons .nay {
  margin-right: 1.5em;
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-color);
}

.debate {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.debate:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.arrow-box {
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

.arrow {
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
  cursor: pointer;
  rotate: 90deg;
  fill: var(--secondary-color);
  height: 2.5em;
  animation: moveArrow 0.7s alternate-reverse infinite;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--secondary-color);
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@-webkit-keyframes moveArrow {
  from {
    transform: translateX(7px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes moveArrow {
  from {
    transform: translateX(7px);
  }
  to {
    transform: translateX(0px);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  .back {
    font-size: 1rem;
    text-decoration: none;
  }
}/*# sourceMappingURL=senate-style.css.map */