:root {
  --primary-color: rgb(51, 16, 16);
  --secondary-color: #FFFBEA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* img {
  max-width: 100%;
}

body {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 8rem;
  padding: 0;
  line-height: 8rem;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0.4em;
}

.hero {
  color: var(--secondary-color);
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba(51, 16, 16, 0.6), rgb(51, 16, 16)), url("capitol-building.jpg");
  background-size: cover;
  background-position: center center;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80px;
  background: var(--secondary-color);
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
}

.refresh-page {
  height: 80%;
}

.logo {
  height: 100%;
}

.left-box {
  display: flex;
  align-items: center;
  transition: 0.15s;
  cursor: pointer;
  height: 100%;
}
.left-box:hover {
  transform: scale(1.1);
}
.left-box:active {
  transform: scale(1);
}

.play-game {
  transition: 0.2s;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  margin-left: 2em;
}

.hero-content {
  padding-top: 110px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 10;
}

.learn-more-button {
  transition: 0.25s;
  background: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.3em 1.4em;
  border-radius: 50px;
}
.learn-more-button:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.learn-more-button:active {
  transform: scale(0.8);
}

.break {
  height: 0.5em;
  width: 100vw;
  background: var(--secondary-color);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background: var(--primary-color);
  color: var(--secondary-color);
}

.box {
  display: flex;
  width: 80vw;
  height: 65%;
}

.box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 0em 5em;
}

.box-text {
  text-align: center;
  color: var(--primary-color);
}
.box-text h3 {
  font-weight: 400;
  font-style: italic;
}
.box-text h2 {
  font-weight: 500;
}

.image-content {
  min-width: 23em;
  height: 100%;
  position: relative;
  background: var(--secondary-color);
}

.gary {
  position: absolute;
  height: 25em;
  min-width: 20em;
  right: 3em;
  bottom: 25%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--primary-color);
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 1080px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .learn-more-button {
    font-size: 0.8rem;
    margin-top: 0.2em;
  }
  .box-content p {
    font-size: 0.9rem;
  }
  .box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 0em 5em;
  }
  .image-content {
    min-width: 19em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
  }
  .gary {
    position: relative;
    right: 1.5em;
    bottom: 0.6em;
    height: 20em;
    min-width: 15em;
    transform: tranlsateY(10em);
  }
}
@media screen and (max-width: 865px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  * img {
    max-width: 100%;
  }
  body {
    height: 100vh;
  }
  html {
    scroll-behavior: smooth;
  }
  button {
    cursor: pointer;
  }
  h2 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0.4em;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh + 20%);
    width: 100vw;
    background: var(--primary-color);
    color: var(--secondary-color);
  }
  .box {
    transform: translateY(-3em);
    background: transparent;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 65%;
  }
  .box-content {
    position: static;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--primary-color);
    padding: 2em 3em;
    margin-bottom: 4em;
  }
  .box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    height: 80%;
    width: 80vh;
    padding-bottom: 4em;
  }
  .box-text h3 {
    font-weight: 400;
    font-style: italic;
  }
  .box-text h2 {
    font-weight: 500;
  }
  .image-content {
    position: static;
    background: transparent;
  }
  .gary {
    transform: translateX(8%);
    height: 20em;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 600px) {
  .main {
    height: calc(100vh + 300px);
  }
  .refresh-page {
    height: 60%;
  }
  .play-game {
    font-size: 1rem;
  }
  .hero-content {
    text-align: left;
  }
  .hero-content h1 {
    padding-left: 0.5em;
    line-height: 5.2rem;
    font-size: 5.2rem;
    text-align: left;
  }
  .hero-content h2 {
    font-style: italic;
    width: 100%;
    padding-left: 2.4em;
    padding-right: 10em;
    margin-top: 0.5em;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 1em;
  }
  .learn-more-button {
    font-size: 1.1rem;
  }
  
  .box {
    transform: translateY(-120px);
  }
  .box-text {
    transform: translateY(-15px);
  }
}/*# sourceMappingURL=style.css.map */
